* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-primary {
  background-color: $primary-color;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border-bottom: transparent;
}

.btn-secondary {
  background-color: $secondary-color;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  &.bt-2 {
    padding: 0.5rem 3.5ch;
  }
}
